body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #b66363;
}
.banner-column{
background-color: rgb(24, 22, 19);
}
.navbar-container{
background-color: rgb(28, 31, 31);
}

.about-container{
    background-color: rgb(35, 128, 128);
}

.education-container{
  background-color: #EEEEEE;  
}

.bg-redtype{
    background-color: #FB857F;
}
.redtype-color{
    color: #FB857F;
}
.circle{
    background-color: #FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: #2BB3DD;
    
}

.footer{
    background-color: #2BB3DD;
}

.circlee{
width: 60px;
height: 60px;
border-radius: 50%;
display: inline-block;
background-color: white;
font-size: 40px;
text-align: center;
color: blue;

}

.circlee:hover{
    background-color:blueviolet ;
    
}